/.venv
/data2csv.ipynb
/Extraction
/main copy 3.ipynb
/main copy 4.ipynb
/mainV1.5.ipynb
/mainV1.ipynb
/mainV2.1 copy.ipynb
/mainV2.1.ipynb
/mainV2.ipynb
/mainV3.ipynb
/musicbpm-mod (4) copy.ipynb
/musicbpm-mod (5).ipynb
/Not working